/* fixes collapsing elements when items inside them are floated left or right
found at http://stackoverflow.com/questions/8554043/what-is-clearfix */
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: auto;
}

span {
  display: block;
}

.logo {
  width: 40%;
  float: left;
}

/* navigation */

ul.topnav {
    border-top: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    overflow: hidden;
    border-bottom: 1px solid black;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: inline-block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.topnav li a:hover {background-color: #f2f2f2;}

/* index and contact */

h1, form {
  margin-left: 30%;
}

div.background {
    width: 100%;
    background-image: url("images/bluebacklong.jpg");
    background-size: cover;
    height: 100%;

}

div.background form textarea {
  width: 60%;
  height: 12em;
}

div.background form p {
  margin-left: 0;
  margin-right: 0;
}

/* services */

dt, p {
  font-size: 130%;
  margin: 3%;
  margin-left: 20%;
  margin-right: 20%;
}

dd {
  margin: 1%;
  margin-left: 25%;
  margin-right: 20%;
}

.angieslist2012, .angieslist2013 {
  float: left;
  width: 180px;
  margin-left: 20%;
}

/* galary */

div.img {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 3px;
    text-align: center;
}

/* products */

div.container {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    color: white;
    font-family: "Georgia", serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em;
    background-color: #006699;
}

div.products {
    margin: 2%;
    margin-right: 15%;
<<<<<<< HEAD:css/main.css
<<<<<<< HEAD:main.css

}

div.products img {
  margin: 2%;
    border-radius: 12px;
}

div.products a {
    clear: both;
}

.products img {
    float: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.prodesc {
    margin: 2%;
    margin-left: 10%;
    margin-bottom: 10%;
}

/*@media screen and (min-width: 320px) {
  body {
    background-color: blue;
  }
} */

.products a {
  color: white;
  font-family: "Georgia", serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  background-color: #006699;
  border-radius: 12px;
  border: 2px solid gray;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 2%;
}

<<<<<<< HEAD:css/main.css
>>>>>>> origin/master:css/main.css
=======
>>>>>>> origin/master:css/main.css
}



/*//////////////general////////////////*/

.background {
  background-size: 100% 100%;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 14px 16px;
    font-size: 17px

  }
