/* fixes collapsing elements when items inside them are floated left or right
found at http://stackoverflow.com/questions/8554043/what-is-clearfix */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  background-color: white;
  background-image: url("../images/bluebacklong.jpg");
  background-size: 100% 100%;
  background-position: center 100px;
  background-attachment: fixed;
  background-repeat: repeat-x;
}
.home {
  background-image: none;
}
span {
  display: block;
}
.logo {
  width: 40%;
  display: block;
}
.logo img {
  width: 100%;
}
/* ///////////navigation //////////////*/
ul.topnav {
  font-weight: bold;
  border-top: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid black;
}
ul.topnav li {
  float: right;
}
ul.topnav li a {
  display: inline-block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

@media screen and (max-width: 550px) {
  ul.topnav li a {
    font-size: 18px;
    padding: 8px 10px;
  }
}

ul.topnav li a:hover {
  background-color: #f2f2f2;
}

/*/////////////  index and contact ////////////////*/

form {
  margin-left: 30%;
}

h1 {
  text-align: center;
}
/*//////////////////////////////////////////////////*/
/*//////////////Help///////////////////////////////*/
/*/////////////////////////////////////////////////*/

@media screen and (max-width: 550px) {
  .h1 {
    margin-left: 10%;
  }
}

/*/////////////////////////////////////////////////*/

div.background form textarea {
  width: 60%;
  height: 12em;
}
div.background form p {
  margin-left: 0;
  margin-right: 0;
}
/*/////////////// services ////////////////////*/
dt,
p {
  font-size: 130%;
  margin: 3%;
  margin-left: 20%;
  margin-right: 20%;
}
dd {
  margin: 1%;
  margin-left: 25%;
  margin-right: 20%;
}
.angieslist2012,
.angieslist2013 {
  float: left;
  width: 15%;
  margin-left: 20%;
}
/*//////////////// gallery ///////////////////*/
div.img {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}
div.img:hover {
  border: 1px solid #777;
}
div.img img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 3px;
  text-align: center;
}
/*//////////////// products //////////////////////*/
.container {
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  color: white;
  font-family: "Georgia", serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  background-color: #006699;
  border-radius: 12px;
  border: 2px solid gray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 80px) {
  .container {
    padding-top: 20%;
    }
  }

.products {
  margin: 2%;
  margin-right: 5%;
  border: 2%;
  clear: both;
  padding: 2%;
  border-bottom: 1px solid black;
}

.products img {
  float: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 800px) {
  .prodesc {
    margin: 2%;
    margin-bottom: 10%;
    margin-left: 430px;
  }
}

@media screen and (max-width: 800px) {
  .prodesc {
    clear: both;
    margin-top: 10%;
    padding-top: 2%;
  }
}
.products a {
  color: white;
  font-family: "Georgia", serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  background-color: #006699;
  border-radius: 12px;
  border: 2px solid gray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}
/*//////////////general////////////////*/
.footer {
  text-align: center;
  width: 100%;
  padding: 14px 16px;
  font-size: 30px;
}
