html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: auto;
}

body {
  background-color: White;
  background-position: center center;
}

.logo {
  width: 40%;
  float: left;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: inline-block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #f2f2f2;}
